.result
  - unless @likes.empty?
    .result__title
      = "#{@likes.length}件見つかりました"
    .result__likes
      - @likes.each do |like|
        = link_to "#{like.name}(#{like.genre.name})", like_path(like.id), class: "#{(current_user.likes.include?(like)) ? 'like' : 'like yet'}"
  - else
    .result__title
      まだ登録されていません
    .result__create-btn
      新しく登録しましょう!