.likes-show
  .like
    .like__info
      .like__info__name
        = "「#{@like.name}」"
      .like__info__genre
        = "ジャンル: #{@like.genre.name}"
    .like__follow
      .like__follow__btn{class: "#{'yet' unless current_user.likes.include?(@like)}", data: @like.id}
        - if current_user.likes.include?(@like)
          好きから外す
        - else
          好きに追加する
      .like__follow__num
        = "登録ユーザー: #{@like.users.length}人"
  .followers
    .followes__index
      登録ユーザー（like共通数）
    .followers__users
      - @users.zip(@same_like_counts).each do |user, count|
        .followers__users__user{class: "#{'yet' unless current_user.followings.include?(user)}"}
          = link_to user_path(user.id), class: "link" do
            = image_tag "#{user.avatar}", class: "link__avatar"
            .link__name
              = "#{user.nickname}"
              - if user != current_user
                = "(#{count})"

= javascript_pack_tag "like_show"