.user-show
  .user
    .user__info
      = "#{@user.nickname}さんのマイページ"
      = render "shared/follow_btn", user: @user
    .user__content
      .user__content__relationships
        .followings
          .followings__title
            = "フォロー  (#{@user.followings.length})"
          .followings__users
            - @user.followings.each do |following|
              .followings__users__user{ class: "#{followed?(current_user, following)}"}
                = link_to user_path(following.id), class: "link" do
                  = image_tag "#{following.avatar}", class: "link__avatar"
                  .link__name
                    = following.nickname
        .followers
          .followers__title
            = "フォローワー  (#{@user.followers.length})"
          .followers__users
            - @user.followers.each do |follower|
              .followers__users__user{ class: "#{followed?(current_user, follower)}"}
                = link_to user_path(follower.id), class: "link" do
                  = image_tag "#{follower.avatar}", class: "link__avatar"
                  .link__name
                    = follower.nickname
      .user__content__likes
        .like__title
          = "#{@user.nickname}さんの好きなこと"
          - if @user != current_user
            ="(共通: #{@count}個)"
        .like__index
          - @user.likes.each do |like|
            .like{ class: "#{liked?(current_user, like)}"}
              = link_to "#{like.name}", like_path(like), class: "like__name"


